* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.box {
  display: grid;
  place-items: center;
  width: 100%;
  font-size: 3rem;
}

.box.I {
  background-color: aqua;
  grid-column: 1;
  grid-row: 1;
}

.box.Heart {
  grid-column: 2;
  grid-row: 1;
}

.box.W {
  background-color: aqua;
  grid-column: 3;
  grid-row: 1;
}

.box.Y {
  grid-column: 1;
  grid-row: 2;
}

.box.N {
  background-color: aqua;
  grid-column: 2;
  grid-row: 2;
}

.box.C {
  grid-column: 3;
  grid-row: 2;
}

.box.O {
  background-color: aqua;

}

.box.D {
  grid-column: 2;
  grid-row: 3;
}

.box.E {
  background-color: aqua;

}
