* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.box {
  display: grid;
  place-items: center;
  width: 100%;
  font-size: 3rem;
}

.box.I {
  background-color: aqua;
}

.box.Heart {

}

.box.W {
  background-color: aqua;

}

.box.Y {

}

.box.N {
  background-color: aqua;

}

.box.C {

}

.box.O {
  background-color: aqua;

}

.box.D {

}

.box.E {
  background-color: aqua;

}
